---
import MainLayout from "../layouts/MainLayout.astro";
import Splitcontent from "../components/Splitcontent.astro";
import SplitcontentRight from "../components/SplitcontentRight.astro";
import Link from "../components/Link.astro";
import Carousel from "../components/Carousel.astro";
---

<MainLayout title="Elby i hverdagen" description="Elby App gør elbilopladning nemt og tilgængeligt i byen. Find nærmeste lader, tilslut dit kabel og start opladningen direkte fra mobilen." ogtitle="Oplad elbilen nemt med Elby App" ogdescription="Se hvordan du bruger Elby App til at finde, tilslutte og starte opladning – med få klik. Download appen og kom i gang i dag.">
  <section class="bg-sec_be-500">
    <div id="1_inwallhero" class="px-4 relative max-w-screen-xl mx-auto flex flex-col-reverse lg:flex-row items-center gap-8 sm:px-6 md:px-12 py-8">
      <!-- Venstre kolonne -->
      <div class="lg:w-1/2 w-full max-w-[450px] space-y-6">
        <h1>Elby i hverdagen</h1>
        <p>Med Elby bliver det en naturlig del af hverdagen at oplade elbilen lige uden for din lejlighed. Elbys diskrete installationer og smarte fortovsskinne sikrer, at gadebilledet forbliver ryddeligt, samtidig med at du får den bekvemmelighed, villaejere har nydt i årevis.</p>
        <ul class="text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop font-medium text-sec_bl-950">
          <li class="flex items-center gap-xs border-b border-t border-neu_db-400 py-xxs"><img src="/svg/plug-charging.svg" class="w-10 h-10" alt="opladning ikon" /> Opladning ved hoveddøren</li>

          <li class="flex items-center gap-xs border-b border-neu_db-400 py-xxs"><img src="/svg/sleeve.svg" class="w-10 h-10" alt="fortovsskinne ikon" /> Rydelige fortove</li>

          <li class="flex items-center gap-xs border-b border-neu_db-400 py-xxs"><img src="/svg/shared-benefit.svg" class="w-10 h-10" alt="fælles økonomisk gevinst ikon" /> Fælles økonomisk gevinst</li>

          <li class="flex items-center gap-xs border-b border-neu_db-400 py-xxs"><img src="/svg/pay.svg" class="w-10 h-10" alt="fælles økonomisk gevinst ikon" /> Fast og lav pris på kun 2,99 kr/kWh</li>
        </ul>
      </div>
      <!-- Højre kolonne -->
      <div class="w-full lg:w-1/2 ml-auto">
        <div class="aspect-[16/9]">
          <iframe class="top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/1Ta-qd4lxZA" title="Elby i hverdagen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary-500 px-sm py-xl fade-in-up overflow-x-hidden">
    <h2 class="text-center pb-md">Sådan lader du med Elby</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-sm max-w-7xl mx-auto">
      <!-- Step 1 -->
      <div class="flex flex-col items-center text-center">
        <div class="w-5xl h-5xl md:w-7xl md:h-7xl flex items-center justify-center">
          <img src="../svg/væglader.svg" alt="Elby væglader ikon" class="w-128 h-128" />
        </div>
        <p class="mt-4 md:text-base">
          1. Brug dit eget kabel<br />(Type 2-stik)
        </p>
      </div>

      <!-- Step 2 -->
      <div class="flex flex-col items-center text-center">
        <div class="w-28 h-28 md:w-32 md:h-32 flex items-center justify-center">
          <img src="../svg/væglader_m_stik.svg" alt="Forbind med ladepunkt ikon" class="w-128 h-128" />
        </div>
        <p class="mt-4 md:text-basev">2. Forbind dit kabel fra <br /> vægladeren til din bil</p>
      </div>

      <!-- Step 3 -->
      <div class="flex flex-col items-center text-center">
        <div class="w-28 h-28 md:w-32 md:h-32 flex items-center justify-center">
          <img src="../svg/fastgør_kabel.svg" alt="Fastgør kabel med fod ikon" class="w-128 h-128" />
        </div>
        <p class="mt-4 md:text-base">
          3. Fastgør kablet i fortovsskinnen <br /> ved hjælp af dit fodtøj
        </p>
      </div>

      <!-- Step 4 -->
      <div class="flex flex-col items-center text-center">
        <div class="w-28 h-28 md:w-32 md:h-32 flex items-center justify-center">
          <img src="../svg/elby_app.svg" alt="Elby app" class="w-128 h-128" />
        </div>
        <p class="mt-4 md:text-base">4. Download og start <br /> ladning med Elby App</p>
      </div>
    </div>
  </section>

  <section id="4_elby_app" class="bg-sec_be-500 fade-in-up overflow-x-hidden">
    <SplitcontentRight img="../inwall/mobil_app1.webp" alt="Mobil dummy med Elby app" header="Kom i gang med at lade med Elby" text1="Download Elby-app'en og få adgang til Elbys ladere." extraLink1="https://apps.apple.com/dk/app/elby-the-citys-ev-charger/id6444045723" extraLinkImg1="../svg/appstore.svg" extraLink2="https://play.google.com/store/apps/details?id=com.elby.elby&hl=en" extraLinkImg2="../svg/googleplay.svg" />
  </section>

  <section id="3_laderkort" class="bg-primary-500 fade-in-up overflow-x-hidden">
    <Splitcontent img="../inwall/indreby2.webp" header="Hav af ladere" text1="Med Elbys app i lommen behøver du ikke længere gætte dig frem til, hvor du kan lade din elbil. Du får et hurtigt overblik over hele vores netværk af ladepunkter – også dem fra vores samarbejdspartnere." text3="Skal du bruge en lader et bestemt sted? Søg på byen, vejen eller måske en seværdighed – så finder appen det for dig. Du kan endda gemme dine foretrukne ladepunkter med et stjernemarkering, så du altid har dem lige ved hånden. Appen er lavet til virkeligheden – der hvor opladning skal være lige så naturlig og ukompliceret som at finde vej hjem." alt="Genereret kort med ladepunkter" />
  </section>

  <section>
    <Carousel />
  </section>
  <section id="6_bygrafik" class="bg-sec_be-500">
    <img src="../svg/bygrafik.svg" alt="Kbh skyline grafik" class="w-full h-auto" />
  </section>
</MainLayout>
